.player {

    padding: 0.5rem;
}

.controls {

    padding: 1.5rem 1rem 1rem 2.5rem;
    display: flex;
    justify-content: center;
}

.controls .btn {

    padding: 0.45rem 0.75rem;
    margin-right: 1.25rem;
}

.player p{

    font-weight: 500;
}